Repository G-Rath/eslint-plugin-eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run lint, prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: include `tsconfig.fake.json` in published package
  package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

test: add case to improve coverage
  src/rules/utils.ts
  test/helpers.ts
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix

fix: support configs with `@typescript-eslint` type-checking rules
  src/blank.js
  src/rules/utils.ts
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix

chore: remove unneeded `.eslintignore` file
  .eslintignore
Due: npm run lint

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: minor typo fix
  README.md
Due: prettier --write

fix: improve handling of errors in `overrides` config blocks
  src/rules/utils.ts
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: remove string values from `ignorePatterns` if they exist
  src/rules/utils.ts
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix

test: use `no-global-assign` instead of `camelcase` in tests
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update build & release related dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update `jest` & co
  package-lock.json
  package.json
Due: prettier --write

chore: update `prettier` (and remove `prettylint`)
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
  package-lock.json
  package.json
Due: prettier --write

feat: drop support for node 8
  .github/workflows/checks.yaml
  package.json
Due: prettier --write

chore: update github actions
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
Due: none

feat: update `@typescript-eslint/experimental-utils` to v4
  package-lock.json
  package.json
  src/index.ts
  src/rules/no-invalid-config.ts
  test/src/rules.spec.ts
  tools/generate-rules-table.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5bb9b0224347e78ea4179e3560daf9504273dbd0
Due: none

feat: support ESLint 8.x
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
  package-lock.json
  package.json
  src/index.ts
  src/rules/no-deprecated-rules.ts
  src/rules/no-invalid-config.ts
  src/rules/no-unknown-rules.ts
  src/rules/sort-rules.ts
  src/rules/utils.ts
  test/helpers.ts
Due: eslint --fix, prettier --write

chore: update `prettier`
  package-lock.json
  package.json
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix, prettier --write

chore: update linting dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update `typescript`
  package-lock.json
  package.json
Due: prettier --write

chore: update `@babel` dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update `jest`
  package-lock.json
  package.json
Due: prettier --write

ci: use stable v2 of `setup-node` action
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
Due: none

ci: use package caching
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
Due: none

ci: use higher LTS version of node
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
Due: none

ci: formatting tweaks
  .github/workflows/checks.yaml
Due: none

docs: mention that config files need to be in javascript
  README.md
Due: prettier --write

chore: update dependencies (#12)
  package-lock.json
  package.json
  test/src/rules/no-invalid-config.spec.ts
Due: eslint --fix, prettier --write

ci: minor adjustments (#13)
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
Due: none

ci: don't test against node 13
  .github/workflows/checks.yaml
Due: none

ci: don't test against node 13 (#16)
  .github/workflows/checks.yaml
Due: none

docs: mention that config files need to be in javascript (#14)
  README.md
Due: prettier --write

ci: test against eslint v8
  .github/workflows/checks.yaml
Due: none

fix: update dependencies to support eslint v8
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{t,j}s
  npm run lint: any of: **/.eslint{rc,ignore}
  prettier --write: any of: **/*.{md,json}
